---
url: http://ioschool.is
title: i/o school
site_name: ioschool.is
description: Open curiculuum on in/out magic, art and mad science.
image: /favicon.png
type: website
layout: index.swig
stylesheets:
- "./bundle.css"
scripts:
- "./bundle.js"
license:
  name: Creative Commons Attribution-ShareAlike 4.0 International License
  url: http://creativecommons.org/licenses/by-sa/4.0/
  image: https://i.creativecommons.org/l/by-sa/4.0/88x31.png
arts:
- name: Unix
  resources:
  - name: "Cyber Wizard Institute: Unix"
    video: https://www.youtube.com/watch?v=tKuvjuYT1-g
    notes: https://github.com/cyberwizardinstitute/workshops/blob/master/unix.markdown
- name: Javascript
  resources:
  - name: "Cyber Wizard Institute: Javascript"
    video: https://www.youtube.com/watch?v=kOB-V1KstIM
    notes: https://github.com/cyberwizardinstitute/workshops/blob/master/javascript.markdown
  - name: Javascript for Cats
    url: jsforcats.com
  - name: Learn Javascript by adventuring around in the terminal
    workshopper: javascripting
- name: Git(Hub)
  resources:
  - name: "Cyber Wizard Institute: Git + Github"
    video: https://www.youtube.com/watch?v=IF-z4kOi4fM
    notes: https://github.com/cyberwizardinstitute/workshops/blob/master/git.markdown
  - name: "Code School: Try Git"
    url: https://try.github.io/
  - name: GitHub for Cats
    url: https://zachbruggeman.me/github-for-cats/
- name: Async
  resources:
  - name: i/o school - The Art of Async
    description: An introduction to async programming
    url: /art-of-async
  - name: "Cyber Wizard Institute: Intro to Node.js"
    video: https://www.youtube.com/watch?v=7RQXUlDATbY
    notes: https://github.com/cyberwizardinstitute/workshops/blob/master/node_101.md
  - name: The Art of Node
    url: https://github.com/maxogden/art-of-node
  - name: Learn You The Node.js For Much Win!
    workshopper: learnyounode
  - name: Callback Hell
    url: http://callbackhell.com/
- name: Streams
  resources:
  - name: Stream Adventure
    workshopper: stream-adventure
  - name: Stream Handbook
    url: https://github.com/substack/stream-handbook
- name: Ecosystems
  resources:
  - video: https://www.youtube.com/watch?v=B-IRNyMdYD0
    notes: https://github.com/cyberwizardinstitute/workshops/blob/master/require_modules.md
  - name: Browserify Adventure
    workshopper: browserify-adventure
  - name: Browserify Handbook
    url: https://github.com/substack/browserify-handbook
  - name: Finding modules
    url: http://substack.net/finding_modules
- name: Browser Interfaces
  resources:
  - name: "Cyber Wizard Institute: HTML and CSS"
    video: https://www.youtube.com/watch?v=GSOg6-Z6fdM
    notes: https://github.com/cyberwizardinstitute/workshops/blob/master/html.markdown
  - name: "Cyber Wizard Institute: The DOM"
    video: https://www.youtube.com/watch?v=1CJIQF2eL7g
    notes: https://github.com/cyberwizardinstitute/workshops/blob/master/dom.markdown
  - name: "Cyber Wizard Institute: The Front End or Who Put The End In The Front?"
    url: https://github.com/cyberwizardinstitute/workshops/blob/master/html-css-javascript-an-eternal-rgb-triple-rainbo.md
- name: User Interfaces
  resources:
  - name: "Cyber Wizard Institute: User Interface"
    video: https://www.youtube.com/watch?v=NVSRIZ3bGbs
    notes: https://github.com/cyberwizardinstitute/workshops/blob/master/ui.markdown
- name: Server Interfaces
  resources:
  - name: "Cyber Wizard Institute: Working with Web APIs"
    video: https://www.youtube.com/watch?v=Q5Ztihwti6g
- name: Text Editing
  resources:
  - name: "Cyber Wizard Institute: Vim"
    video: https://www.youtube.com/watch?v=Fy8rVhjypBs
    notes: https://github.com/cyberwizardinstitute/workshops/blob/master/vim.markdown
  - name: "Cyber Wizard Institute: Emacs"
    video: https://www.youtube.com/watch?v=ah9puba1aSQ
- name: Networks
  resources:
  - name: "Cyber Wizard Institute: Networks"
    video: https://www.youtube.com/watch?v=8ky8Lj3Te70
    notes: https://github.com/cyberwizardinstitute/workshops/blob/master/networks.markdown
- name: Graphics
  resources:
  - name: "Cyber Wizard Institute: SVG"
    video: https://www.youtube.com/watch?v=WFgzcQJkZeE
    notes: https://github.com/cyberwizardinstitute/workshops/blob/master/svg.markdown
- name: Data Manipulation
  resources:
  - name: "Cyber Wizard Institute: Regular Expressions"
    video: https://www.youtube.com/watch?v=_RD6whFt7is
    notes: https://github.com/cyberwizardinstitute/workshops/blob/master/regex.markdown
- name: Databases
  resources:
  - name: "Cyber Wizard Institute: LevelDB, blobs, magic"
    video: https://www.youtube.com/watch?v=Ssct_O1LET8
    notes: https://github.com/cyberwizardinstitute/workshops/blob/master/leveldb.markdown
  - name: "Cyber Wizard Institute: SQL"
    video: https://www.youtube.com/watch?v=Esq5ms3rlo4
- name: Apps
  resources:
  - name: substack flavored webapp
    url: https://github.com/substack/substack-flavored-webapp
  - name: Human Javascript
    url: http://read.humanjavascript.com
---
<header class="page-header">
  <h1>
    {{ title }}
  </h1>
  <p>
    {{ description }}
  </p>
</header>
<section id="scan">
  <h2>
    Overview of our adventure
  </h2>
  <p>
    i/o school is an experiment in open source computer science education. It is based heavily on the existing work of the <a href="http://nodeschool.io">Node School</a> and <a href="http://cyber.wizard.institute">Cyber Wizard Institute</a> curiculuums. We're making this up as we go, if you have feedback please let us know at <a href="https://github.com/ioschool/discussions/issues">ioschool/discussions</a>.
  </p>
  <p>
    During our i/o school journey, we will be learning how to harness signals and pixels to produce art, magic and mad science. While there isn't an explicit focus on learning for the sake of being hired in industry, rest assured that if you become proficient at what is being taught, you will ascend to a higher level with more than enough skills to pay the bills.
  </p>
  <p>
    While programming can be done in a multitude of languages across many platforms, we will be focusing on javascript (using <a href="http://nodejs.org">Node.js</a>) on Unix-based (Linux or Mac OS) and web browser environments.
  </p>
</section>

<section id="setup">
  <h2>
    Gearing up for the journey ahead
  </h2>
  <p>
    To begin, we first need a computer that runs Linux or Mac OS. If you have Windows, we will help you install Linux - but you have to be willing to have Linux!
  </p>
  <p>
    Then, you need to follow <a href="/guides/install-js">our guide to install Node.js</a>.
  </p>
  <p>
    Next, you need a <strong>Text Editor</strong>. If you don't have one already, you may want one for editing code. A few options: <a href="http://www.atom.io/">Atom</a> <a href="http://www.sublimetext.com/">Sublime Text</a>, <a href="http://lighttable.com/">Light Table</a>, <a href="http://macromates.com/download">TextMate</a>, <a href="http://brackets.io/">Brackets</a>.
  </p>
</section>

<section id="start">
  <header>
    <h2>
      Starting on your path
    </h2>
    <p>
      Choose a magic art to start the journey.
    </p>
  </header>
  <ul class="arts">
  {% for art in arts %}
    <li class="art">
      <header>
        <h2>
          {{ art.name }}
        </h2>
      </header>
      <ul class="resources list-group">
        {% for resource in art.resources %}
        <li class="resource list-group-item">
          <header>
            <h3>{{ resource.name }}</h3>

            {% if resource.url %}
            <a href="{{ resource.url }}" class="url label label-default">website</a>
            {% endif %}

            {% if resource.video %}
            <a href="{{ resource.video }}" class="video label label-success">video</a>
            {% endif %}

            {% if resource.notes %}
            <a href="{{ resource.notes }}" class="notes label label-info">notes</a>
            {% endif %}

            {% if resource.workshopper %}
            <a href="https://npmjs.org/packages/{{ resource.workshopper }}" class="workshopper label label-warning">workshopper</a>
            {% endif %}
          </header>

          {% if resource.description %}
          <p>
            {{ resource.description }}
          </p>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    </li>
  {% endfor %}
